<div class="row">
    <div class="col-sm-12">
      <div>
      <app-card cardTitle="{{empleaveresumptionForm.value.lEmpleaveresumeId ? 'Edit Leave Resumption':'Add Leave Resumption'}}"  [options]="false">
        <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
          <ul _ngcontent-epm-c40="" class="nav">
          </ul>
          <div _ngcontent-epm-c40="" class="nav-item nav-grid">
            <!-- <button  type="button"  (click)="addUpdateempleaveresumption()" class="btn btn-success" [disabled]="btnLoader" ngbTooltip="btn-success"
            data-toggle="tooltip" data-placement="top"
            title="Filter" *ngIf="!isView">
            {{empleaveresumptionForm.value.lEmpleaveresumeId ? 'Update':'Add'}}
              <span *ngIf="btnLoader" class="spinner-border spinner-border-sm" role="status"></span>
            
            </button>&nbsp;&nbsp;&nbsp; -->
            <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="addUpdateEmpleaveresumption()" *ngIf="!isView">{{empleaveresumptionForm.value.lEmpleaveresumeId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="back()">{{isView ? 'Back':'Cancel'}}</button>
          </div>
      </nav>
        
      
       
        <form action="javascript:" class="needs-validation" novalidate [formGroup]="empleaveresumptionForm">
          <div class="form-row">
            
            <div class="col-md-6 mb-3">
              <label for="validationCustom01">Holding</label>
              <select class="form-control validation_border" disabled formControlName="gHoldingId" (change)="selectHolding(empleaveresumptionForm.value.holdingId)"
              [ngClass]="{ 'is-invalid': submitted && f.gHoldingId.errors }">
                  <option *ngFor="let dl of holdingList" value="{{dl.gHoldingId}}">{{dl.name}}</option>
              </select>
              <div *ngIf="submitted && f.gHoldingId.errors" class="invalid-feedback">
                <div *ngIf="f.gHoldingId.errors.required">Holding is required</div>
              </div>
          </div>
            
          <div class="col-md-6 mb-3">
            <label for="validationCustom01">Company</label>
            <select class="form-control validation_border" formControlName="gCompanyId" 
            (change)="selectcompany(empleaveresumptionForm.value.gCompanyId)"
              [ngClass]="{ 'is-invalid': submitted && f.companyId.errors }">
                <option *ngFor="let cl of companyList" value="{{cl.gCompanyId}}">{{cl.name}}</option>
            </select>
            <div *ngIf="submitted && f.gCompanyId.errors" class="invalid-feedback">
              <div *ngIf="f.gCompanyId.errors.required">Company is required</div>
            </div>
        </div>
      </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Document No</label>
                <input type="text" formControlName="documentno" disabled class="form-control">
               
              </div>

              <div class="col-md-6 mb-3">
                <label for="validationCustom02">Transaction Date</label>
               <div class="input-group">
                 <input class="form-control validation_border" placeholder="Select a date" type="text" angular-mydatepicker 
                 name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="datetrx1"
                 [ngClass]="{ 'is-invalid': submitted && f.datetrx.errors }"
                  #dp1="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeTransactionDate($event)" (click)="dp1.toggleCalendar()"/>
                 <div class="input-group-append">
                   <button type="button" class="btn btn-secondary" (click)="dp1.toggleCalendar()">
                     <i class="fa fa-search" aria-hidden="true"></i>
                   </button>
                 </div>
                 
               </div>
             </div>


          </div>



          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationCustom01">Employee</label>
              <!-- <select class="form-control validation_border" formControlName="xEmployeeId" (change)="getReferenceByID(empleaveresumptionForm.value.xEmployeeId)">
                <option *ngFor="let dl of employeeList" value="{{dl.employeeId}}">{{dl.displayName}}
                </option>
              </select> -->
              <ng-multiselect-dropdown
              name="city"
              [placeholder]="'Select Employee'"
              [data]="employeeList"
              formControlName="employee" [(ngModel)]="selectedItems"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)">
          </ng-multiselect-dropdown>
          </div>
           
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Resumption Date</label>
               <div class="input-group">
                 <input class="form-control validation_border" placeholder="Select a date" type="text" angular-mydatepicker 
                 name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="resumptiondate1"
                 [ngClass]="{ 'is-invalid': submitted && f.resumptiondate.errors }"
                  #dp2="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeRansactionDate($event)" (click)="dp2.toggleCalendar()"/>
                 <div class="input-group-append">
                   <button type="button" class="btn btn-secondary" (click)="dp2.toggleCalendar()">
                     <i class="fa fa-search" aria-hidden="true"></i>
                   </button>
                 </div>
                 
               </div>
             </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationCustom01">Leave Reference</label>
              <select class="form-control validation_border" formControlName="lEmpleaveId" (change)="selectLeaveRef(empleaveresumptionForm.value.lEmpleaveId)">
                
                <option *ngFor="let dl of referenceList" value="{{dl.lEmpleaveId}}">{{dl.documentno}}
                  </option>
              </select>
          </div>
           
            
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Leave Type</label>
                    <select class="form-control validation_border" disabled formControlName="xleaveitemId">
                      <option *ngFor="let dl of leaveTypeList" value="{{dl.xLeaveitemId}}">{{dl.name}}
                      </option>
                    </select>
                </div>
                
          </div>



          <div class="form-row">

            <!-- <div class="col-md-3 mb-3">
              <label for="validationCustom02"></label> -->
             <!-- <div class="input-group">
               <input class="form-control " disabled placeholder="Select a date" type="text" angular-mydatepicker 
               name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="startdate1"
               [ngClass]="{ 'is-invalid': submitted && f.startdate.errors }"
                #dp3="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeStartDate($event)" (click)="dp3.toggleCalendar()"/>
               <div class="input-group-append">
                 <button type="button" disabled class="btn btn-secondary" (click)="dp3.toggleCalendar()">
                   <i class="fa fa-search" aria-hidden="true"></i>
                 </button>
               </div>
               
             </div> -->
           <!-- </div> -->

           <div class="col-md-4 mb-3">
            <label for="validationCustom01">Leave Days</label>
            <input type="text" disabled formControlName="leavedays" class="form-control">
        </div>
         

            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Approved From</label>
               <div class="input-group">
                 <input class="form-control " disabled placeholder="Select a date" type="text" angular-mydatepicker 
                 name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="startdate1"
                 [ngClass]="{ 'is-invalid': submitted && f.startdate.errors }"
                  #dp3="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeStartDate($event)" (click)="dp3.toggleCalendar()"/>
                 <div class="input-group-append">
                   <button type="button" disabled class="btn btn-secondary" (click)="dp3.toggleCalendar()">
                     <i class="fa fa-search" aria-hidden="true"></i>
                   </button>
                 </div>
                 
               </div>
             </div>
             <div class="col-md-4 mb-3">
                <label for="validationCustom02">Approved To</label>
               <div class="input-group">
                 <input class="form-control" disabled placeholder="Select a date" type="text" angular-mydatepicker 
                 name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="enddate1"
                 [ngClass]="{ 'is-invalid': submitted && f.enddate.errors }"
                  #dp4="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeEndDate($event)" (click)="dp4.toggleCalendar()"/>
                 <div class="input-group-append">
                   <button type="button" disabled class="btn btn-secondary" (click)="dp4.toggleCalendar()">
                     <i class="fa fa-search" aria-hidden="true"></i>
                   </button>
                 </div>
                 
               </div>
             </div>
          </div>




          <div class="form-row">
           
            
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Late Days</label>
                    <input type="text" formControlName="latedays" class="form-control" disabled>
                </div>

                
            <div class="col-md-4 mb-3">
              <label for="validationCustom02">Actual From</label>
             <div class="input-group">
               <input class="form-control " disabled placeholder="Select a date" type="text" angular-mydatepicker 
               name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="actualfrom1"
               [ngClass]="{ 'is-invalid': submitted && f.startdate.errors }"
                #dp5="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeActualFrom($event)" (click)="dp5.toggleCalendar()"/>
               <div class="input-group-append">
                 <button type="button" disabled class="btn btn-secondary" (click)="dp5.toggleCalendar()">
                   <i class="fa fa-search" aria-hidden="true"></i>
                 </button>
               </div>
               
             </div>
           </div>
           <div class="col-md-4 mb-3">
              <label for="validationCustom02">Actual To</label>
             <div class="input-group">
               <input class="form-control" disabled placeholder="Select a date" type="text" angular-mydatepicker 
               name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="actualto1"
               [ngClass]="{ 'is-invalid': submitted && f.enddate.errors }"
                #dp6="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeEndDate($event)" (click)="dp6.toggleCalendar()"/>
               <div class="input-group-append">
                 <button type="button" disabled class="btn btn-secondary" (click)="dp6.toggleCalendar()">
                   <i class="fa fa-search" aria-hidden="true"></i>
                 </button>
               </div>
               
             </div>
           </div>
           
          </div>



          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationCustom01">Remark</label>
              <input type="text" formControlName="remarks" class="form-control">
          </div>
            <div class="col-md-6 mb-3">
            
              <label for="validationCustom01">Status</label>
              <select class="form-control validation_border" formControlName="status">
                  <option *ngFor="let dl of statusList" value="{{dl.valueCode}}">{{dl.valueName}}</option>
              </select>
            </div>
          </div>

        </form>
        
       
    </app-card>

  </div>
  </div>
  </div>
  