
<div class="row">
    <div class="col-sm-12" *ngIf="!isOpenVehicleInfo">
        <app-card cardTitle="Vehicle Summary" [options]="false">
          

            <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                <ul _ngcontent-epm-c40="" class="nav">
                </ul>
                <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                  
                <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary"
                 type="button" (click)="add()" data-toggle="tooltip" data-placement="top"
                 title="Add">
                <i class="fa fa-plus"></i>
                </button>&nbsp;
                <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary"
                type="button" (click)="edit()" data-toggle="tooltip" data-placement="top"
                title="Edit">
               <i class="fas fa-pencil-alt"></i>
               </button>&nbsp;
              </div>
            </nav>
           
            
            <div class="table-responsive">
               
                <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Vehicle Registration Number</th>
                    <th>Vehicle Plate Code</th>
                    <th>Vehicle Plate Color</th>
                    <th>Vehicle Expiry Date</th>
              
                
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let dl of vehicleList">
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" (click)="getDataUsingRedioBtn(dl)">
                        </div>
                    </td>
                    <td>{{dl.vehiregno}}</td>
                    <td>{{dl.vehiplatecode}}</td>
                    <td>{{dl.vehiplateclr}}</td>
                    <td>{{dl.vehidateexpiry | date: 'dd-MMM-yyyy'}}</td>
                   
                </tr>
               
                </tbody>
                </table>
            </div>
            <!-- ---------------------------------------------------------------- -->

         
            <!-- ---------------------------------------------------------------- -->
        </app-card>
    </div>

    <div class="col-sm-12" *ngIf="isOpenVehicleInfo">
        <app-card cardTitle="{{false ? 'Edit Vehicle':'Add Vehicle'}}"  [options]="false">
 
   
        <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
          <ul _ngcontent-epm-c40="" class="nav">
          </ul>
          <div _ngcontent-epm-c40="" class="nav-item nav-grid">
            <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="addUpdatevehicle()">{{vehicleId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ngbTooltip="btn-danger"  (click)="isOpenVehicleInfo=false;vehicleId=undefined;">{{false ? 'Back':'Cancel'}}</button>
          </div>
      </nav>

      <form action="javascript:" class="needs-validation" novalidate [formGroup]="vehicleForm">
           
        <div class="form-row">

          <div class="col-md-6 mb-3">
            <label for="validationCustom01">Employee</label>
            <input type="text" formControlName="empName" disabled class="form-control">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

         
          <div class="col-md-6 mb-3">
            <label for="validationCustom01">Vehicle Registration Number</label>
            <input type="text" formControlName="vehiregno" class="form-control">
        </div>

        
        </div>
         
     


   

 <div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="validationCustom01">Plate Colour</label>
        <input type="text" formControlName="vehiplateclr" class="form-control">
    </div>
    <div class="col-md-6 mb-3">
        <label for="validationCustom01">Plate Code</label>
        <input type="text" formControlName="vehiplatecode" class="form-control">
    </div>
 </div> 

 <div class="form-row">
 <div class="col-md-6 mb-3">
    <label for="validationCustom02">Date of Expiry</label>
   <div class="input-group">
     <input class="form-control" placeholder="Select a date" type="text" angular-mydatepicker 
     name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="vehidateexpiry1"
      #dp1="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeVehidateexpiry($event)" (click)="dp1.toggleCalendar()"/>
     <div class="input-group-append">
       <button type="button" class="btn btn-secondary" (click)="dp1.toggleCalendar()">
         <i class="fa fa-search" aria-hidden="true"></i>
       </button>
     </div>
    
   </div>
 </div>

 <!-- <div class="col-md-6 mb-3">
    <label for="validationCustom01">Insurance Company</label>
    <input type="text" formControlName="insurancecompany" class="form-control">
</div> -->
<div class="col-md-6 mb-3">
  <label for="validationCustom01">Insurance Company</label>
  <select class="form-control" formControlName="vehiinsucomp">
    <option *ngFor="let dl of insurancecompanyList" value="{{dl.value}}">{{dl.name}}</option>
  </select>
  
</div> 

</div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Insurance Expiry Date</label>
               <div class="input-group">
                 <input class="form-control" placeholder="Select a date" type="text" angular-mydatepicker 
                 name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="vehiinscdateexpiry1"
                  #dp2="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeVehiinscdateexpiry($event)" (click)="dp2.toggleCalendar()"/>
                 <div class="input-group-append">
                   <button type="button" class="btn btn-secondary" (click)="dp2.toggleCalendar()">
                     <i class="fa fa-search" aria-hidden="true"></i>
                   </button>
                 </div>
                
               </div>
             </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Status</label>
                <select class="form-control" formControlName="status">
                  <option *ngFor="let dl of statusList" value="{{dl.valueCode}}">{{dl.valueName}}</option>
                </select>
                
              </div> 
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
              <label for="validationCustom01">Vehicle Ownership</label>
              <select class="form-control" formControlName="lvehiowner">
                <option *ngFor="let dl of vehicleOwnershipList" value="{{dl.value}}">{{dl.name}}</option>
              </select>
              
            </div> 
          <!-- <div class="col-md-6 mb-3">
              <label for="validationCustom01">Issuing Authority</label>
              <input type="text" formControlName="issuingauthority" class="form-control">
          </div> -->
      </div>
       

      </form>

        
        <!-- ////////////////////////////////////////////////////////// -->
        </app-card>
    </div>
</div>
   