<div class="row">
    <div class="col-sm-12">
        <div>
            <app-card cardTitle="{{payrollsettingForm.value.xPayrollsettingId ? 'Edit Overtime Setting':'Add Overtime  setting'}}" [options]="false">
                <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                    <ul _ngcontent-epm-c40="" class="nav">
                    </ul>
                    <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                        <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="addUpdatePayrollSettings()" *ngIf="!isView">{{payrollsettingForm.value.xPayrollsettingId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="back()">{{isView ? 'Back':'Cancel'}}</button>
                    </div>
                </nav>

                <form action="javascript:" class="needs-validation" novalidate [formGroup]="payrollsettingForm">
                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Holding</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" disabled formControlName="gHoldingId" [ngClass]="{ 'is-invalid': submitted && f.gHoldingId.errors }">
                  <option *ngFor="let dl of holdingList" value="{{dl.gHoldingId}}">{{dl.name}}</option>
              </select>
                            <div *ngIf="submitted && f.gHoldingId.errors" class="invalid-feedback">
                                <div *ngIf="f.gHoldingId.errors.required">Holding is required</div>
                            </div>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Company</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <ng-multiselect-dropdown [placeholder]="" [data]="companyList" name="company" formControlName="company" [(ngModel)]="selectedCompanyList" [settings]="dropdownSettings" (onSelect)="onCompnaySelect($event)" (onDeSelect)="onCompanyDeSelect($event)" (onSelectAll)="onSelectAllCompnay($event)"
                                [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
                            </ng-multiselect-dropdown>
                            <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                                <div *ngIf="f.company.errors.required">Company is required</div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">




                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Normal OT Rate</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="number" formControlName="normalOtRate" class="form-control validation_border" [ngClass]="{ 'is-invalid': submitted && f.normalOtRate.errors }">
                            <div *ngIf="submitted && f.normalOtRate.errors" class="invalid-feedback">
                                <div *ngIf="f.normalOtRate.errors.required">Normal OT is required</div>
                            </div>
                        </div>


                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Weekend OT Rate</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="number" formControlName="weekendOtRate" class="form-control validation_border" [ngClass]="{ 'is-invalid': submitted && f.weekendOtRate.errors }">
                            <div *ngIf="submitted && f.weekendOtRate.errors" class="invalid-feedback">
                                <div *ngIf="f.weekendOtRate.errors.required">Weekend OT Rate is required</div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Public Holiday OT Rate</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="number" formControlName="holidayOtRate" class="form-control validation_border" [ngClass]="{ 'is-invalid': submitted && f.holidayOtRate.errors }">
                            <div *ngIf="submitted && f.holidayOtRate.errors" class="invalid-feedback">
                                <div *ngIf="f.holidayOtRate.errors.required">Holiday OT Rate is required</div>
                            </div>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Code</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="code" class="form-control">
                        </div>


                    </div>


                    <div class="form-row">


                        <div class="col-md-2 mb-3">
                            <label for="validationCustom02">Effective Date</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <input class="form-control validation_border" placeholder="Select a date" type="text" angular-mydatepicker name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="payItemEffectiveDate" #dp1="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeEffectiveDate($event)"
                                    (click)="dp1.toggleCalendar()" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dp1.toggleCalendar()">
                               <i class="fa fa-search" aria-hidden="true"></i>
                             </button>
                                </div>
                                <!-- <div *ngIf="payItemsubmitted && pi.payItemEffectiveDate.errors" class="invalid-feedback">
                                    <div *ngIf="pi.payItemEffectiveDate.errors.required">Effective Date is required</div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom02">End Date</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <input class="form-control" placeholder="Select a date" type="text" angular-mydatepicker name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="endDate1" #dp2="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeEndDate($event)"
                                    (click)="dp2.toggleCalendar()" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary" disabled (click)="dp2.toggleCalendar()">
                             <i class="fa fa-search" aria-hidden="true"></i>
                           </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Status</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.isActive.errors }">
                    <option *ngFor="let dl of statusList" value="{{dl.valueCode}}">{{dl.valueName}}</option>
                </select>
                            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                <div *ngIf="f.status.errors.required">Status is required</div>
                            </div>
                        </div>


                    </div>


                    <app-card [options]="false">


                        <div class="form-row">

                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Normal Day Overtime Hrs (HH:mm)</label>
                                <input type="text" formControlName="normaldayothrsforEp" class="form-control">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Friday Overtime Hrs (HH:mm)</label>
                                <input type="text" formControlName="fridayothrsforEp" class="form-control">
                            </div>


                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">National Holiday Hrs (HH:mm)</label>
                                <input type="text" formControlName="holidayothrsforEp" class="form-control">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Normal Extra pay OT Rate</label>
                                <input type="number" formControlName="ep_normalOtRate" class="form-control">
                            </div>

                        </div>

                        <div class="form-row">

                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Weekend Extra pay OT Rate</label>
                                <input type="number" formControlName="ep_weekendOtRate" class="form-control">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Holiday Extra pay OT Rate</label>
                                <input type="number" formControlName="ep_holidayOtRate" class="form-control">
                            </div>


                        </div>
                    </app-card>

                </form>
            </app-card>
        </div>
    </div>
</div>