<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Employee Summary" [options]="false">

            <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                <ul _ngcontent-epm-c40="" class="nav">
                </ul>
                <div _ngcontent-epm-c40="" class="nav-item nav-grid">

                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="add()" data-toggle="tooltip" data-placement="top" title="Add" *ngIf="flags.createFlag=='Y'">
              <i class="fa fa-plus"></i>
              </button>&nbsp;
                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="edit()" data-toggle="tooltip" data-placement="top" title="Edit" *ngIf="flags.editFlag=='Y'">
             <i class="fas fa-pencil-alt"></i>
             </button>&nbsp;

                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="view()" data-toggle="tooltip" data-placement="top" title="View" *ngIf="flags.readFlag=='Y'">
            <i class="fa fa-eye"></i>
            </button>&nbsp;
                    <!-- <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary"
            type="button" (click)="delete()" data-toggle="tooltip" data-placement="top"
            title="Delete" *ngIf="flags.deleteFlag=='Y'">
           <i class="fa fa-trash"></i>
           </button>&nbsp; -->

                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="enableFilter = !enableFilter;" [ngClass]="{'filterClass': enableFilter}" data-toggle="tooltip" data-placement="top" title="Filter">
              <i class="fa fa-filter"></i>
              </button>&nbsp;


                    <div class="btn-group" role="group" ngbDropdown *ngIf="(flags.importFlag=='Y' && flags.exportFlag=='Y') || (flags.importFlag=='Y' && flags.exportFlag=='N') || (flags.importFlag=='N' && flags.exportFlag=='Y')">
                        <button type="button" class="btn btn-primary" ngbDropdownToggle>
                    More
                  </button>
                        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu style="right: 0;
                  left: auto;">
                            <a class="dropdown-item" href="javascript:" *ngIf="flags.exportFlag=='Y'" (click)="exportData()">Export Data </a>
                            <a class="dropdown-item" href="javascript:" *ngIf="flags.importFlag=='Y'" (click)="fileUploadPopup.show();fileUploadForm.reset()">Upload Data</a>
                            <a class="dropdown-item" href="javascript:" (click)="sampleFormatedFile()">Download Excel File Format </a>
                        </div>
                    </div>

                </div>
            </nav>

            <!-- <div class="form-row" style="float: right;">
              <div class="col-md-12 mb-3">
                <input [(ngModel)]="filterString" (ngModelChange)="onFilterChange()" class="form-control" placeholder="Search"/>
              </div>
          </div> -->

            <!-- <div class="table-responsive tableFixHead"> -->

            <!-- <div class="ibox-content" style="height: calc(100vh - 161px); overflow-y: auto;"> -->

            <datatable1 [dataset]=data [enableFilter]="enableFilter" (searchEvent)="search($event)" (aTagEvent)="getRows($event)" [id]="'vendorId'">


                <column1 [width1]=2 [value]="'employeeId'" [header]="''" [type]="'radio'" [sortVal]="'ASC'"></column1>
                <column1 [width1]=16 [value]="'companyName'" [header]="'Company'" [sortVal]=""></column1>
                <column1 [width1]=10 [value]="'oldEmpId'" [header]="'Emp. ID'" [type]="''" [sortVal]="''"></column1>
                <column1 [width1]=10 [value]="'empcode'" [header]="'Internal ID'" [sortVal]=""></column1>
                <column1 [width1]=20 [value]="'displayName'" [header]="'Name'" [sortVal]=""></column1>
                <column1 [width1]=10 [value]="'department'" [header]="'Department'" [sortVal]=""></column1>
                <column1 [width1]=10 [value]="'designation'" [header]="'Designation'" [sortVal]=""></column1>
                <column1 [width1]=10 [value]="'shiftName'" [header]="'Shift'" [sortVal]=""></column1>
                <column1 [width1]=10 [value]="'employmentStatus'" [header]="'Employee Status'" [sortVal]=""></column1>
                <column1 [width1]=10 [value]="'visaCompany'" [header]="'Visa Sponsor'" [sortVal]=""></column1>

            </datatable1>
            <!-- </div> -->


            <!-- <table class="table table-bordered table-hover">
              <thead>
              <tr>
                  <th>#</th>
                  <th>Company</th>
                  <th>Name</th>
                  <th>Department</th>
                  <th>Designation</th>
                  <th>Date of Joining</th>
                  <th>Shift </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let dl of filtered" (click)="selectTableRow(dl)">
                  <td>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" (click)="selectRadioBtn=true;getDataUsingRedioBtn(dl)">
                      </div>
                  </td>
                   <td>{{dl.companyName}}</td>
                  <td>{{dl.displayName}}</td>
                  <td>{{dl.department}}</td>
                  <td>{{dl.designation}}</td>
                  <td>{{dl.dateOfJoin  | date: 'dd-MMM-yyyy'}}</td>
                  <td>{{dl.shiftName}}</td> 
              </tr>
             
              </tbody>
              </table> -->
            <!-- </div> -->
        </app-card>
    </div>
</div>

<div class="col-xl-4 col-md-6">
    <app-ui-modal #fileUploadPopup dialogClass="modal-dialog-centered">
        <div class="app-modal-header">
            <h5 class="modal-title text-center">Employee Info</h5>
        </div>
        <div class="app-modal-body">
            <form action="javascript:" class="needs-validation" [formGroup]="fileUploadForm">

                <div class="form-group">
                    <input type="file" autocomplete="off" formControlName="fileName" class="form-control" (change)="fileChange($event)" name="imagePath" id="file" placeholder="Upload File" style="border: none;">
                </div>

            </form>


        </div>
        <div class="app-modal-footer">

            <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="fileUploadFun($event,'EMPINFO');fileUploadPopup.hide()">Upload</button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" data-dismiss="modal" (click)="fileUploadPopup.hide()">Close</button>

        </div>
    </app-ui-modal>
</div>


<div class="col-xl-4 col-md-6">
    <app-ui-modal #fileUploadPopupSalarymode dialogClass="modal-dialog-centered">
        <div class="app-modal-header">
            <h5 class="modal-title text-center">Salary Mode</h5>
        </div>
        <div class="app-modal-body">
            <form action="javascript:" class="needs-validation" [formGroup]="fileUploadFormSalarymode">

                <div class="form-group">
                    <input type="file" autocomplete="off" formControlName="fileName" class="form-control" (change)="fileChange($event)" name="imagePath" id="file" placeholder="Upload File" style="border: none;">
                </div>

            </form>


        </div>
        <div class="app-modal-footer">

            <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="fileUploadFunSalarymode($event,'SALARYMODE');fileUploadPopupSalarymode.hide()">Upload</button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" data-dismiss="modal" (click)="fileUploadPopupSalarymode.hide()">Close</button>

        </div>
    </app-ui-modal>
</div>

<div class="col-xl-4 col-md-6">
    <app-ui-modal #fileUploadPopupPayitem dialogClass="modal-dialog-centered">
        <div class="app-modal-header">
            <h5 class="modal-title text-center">Payment Elements</h5>
        </div>
        <div class="app-modal-body">
            <form action="javascript:" class="needs-validation" [formGroup]="fileUploadFormPayitem">

                <div class="form-group">
                    <input type="file" autocomplete="off" formControlName="fileName" class="form-control" (change)="fileChange($event)" name="imagePath" id="file" placeholder="Upload File" style="border: none;">
                </div>

            </form>


        </div>
        <div class="app-modal-footer">

            <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="fileUploadFunPayitem($event,'PAYMENTELEMENTS');fileUploadPopupPayitem.hide()">Upload</button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" data-dismiss="modal" (click)="fileUploadPopupPayitem.hide()">Close</button>

        </div>
    </app-ui-modal>
</div>