<div class="row">
    <div class="col-sm-12">
        <div>
            <app-card cardTitle="{{countryForm.value.xflycountryId ? 'Edit Country':'Add Country'}}" [options]="false">
                <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                    <ul _ngcontent-epm-c40="" class="nav">
                    </ul>
                    <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                        <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="addUpdateCountry()" *ngIf="!isView">{{countryForm.value.xflycountryId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="back()">{{isView ? 'Back':'Cancel'}}</button>
                    </div>
                </nav>
                <form action="javascript:" class="needs-validation" novalidate [formGroup]="countryForm">
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Holding</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" disabled formControlName="gHoldingId">
                                <option *ngFor="let dl of holdingList" value="{{dl.gHoldingId}}">{{dl.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Company</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" formControlName="gCompanyId" [ngClass]="{ 'is-invalid': submitted && f.gCompanyId.errors }">
                            <option *ngFor="let dl of companyList" value="{{dl.gCompanyId}}">{{dl.name}}</option>
                        </select>
                            <div *ngIf="submitted && f.gCompanyId.errors" class="invalid-feedback">
                                <div *ngIf="f.gCompanyId.errors.required">Company is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Country Code</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="code" class="form-control" disabled>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Country name</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="countryName" class="form-control validation_border">
                            <div *ngIf="submitted && f.countryName.errors" class="invalid-feedback">
                                <div *ngIf="f.countryName.errors.required">Country name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Ticket Amount</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="number" formControlName="ticketAmount" class="form-control">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Description</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="desc" class="form-control">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Status</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" formControlName="status">
                                <option *ngFor="let dl of statusList" value="{{dl.valueCode}}">{{dl.valueName}}</option>
                            </select>
                        </div>
                    </div>
                </form>

            </app-card>
        </div>
    </div>
</div>