<div class="row">
    <div class="col-sm-12">
        <div>
            <app-card cardTitle="{{dashboardSettingForm.value.dashboardId ? 'Edit Dashboard Settings':'Add Dashboard Settings'}}" [options]="false">


                <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                    <ul _ngcontent-epm-c40="" class="nav">
                    </ul>
                    <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                        <button type="button" class="btn btn-success" ngbTooltip="btn-success" [disabled]="submitted" (click)="addDashboardSetting()" *ngIf="!isView">{{dashboardSettingForm.value.dashboardId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="back()">{{isView ? 'Back':'Cancel'}}</button>
                    </div>
                </nav>

                <form action="javascript:" class="needs-validation" novalidate [formGroup]="dashboardSettingForm">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Code</label>
                            <input type="text" formControlName="code" class="form-control validation_border" [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                            <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                                <div *ngIf="f.code.errors.required">Code is required</div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Name</label>
                            <input type="text" formControlName="name" class="form-control validation_border" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Description</label>
                            <input type="text" formControlName="desc" class="form-control">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Status</label>
                            <select class="form-control validation_border" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                <option *ngFor="let sl of statusList" value="{{sl.valueCode}}">{{sl.valueName}}</option>      
              </select>
                            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                <div *ngIf="f.status.errors.required">Status is required</div>
                            </div>
                        </div>
                    </div>
                </form>
            </app-card>
        </div>
    </div>
</div>