<div class="row">
    <div class="col-sm-12">
        <div>
            <app-card cardTitle="{{approvalForm.value.gApprovalwfId  ? 'Edit Approval Workflow':'Add Approval Workflow'}}" [options]="false">
                <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                    <ul _ngcontent-epm-c40="" class="nav">
                    </ul>
                    <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                        <button type="button" class="btn btn-success" ngbTooltip="btn-success" [disabled]="submitted" (click)="addUpdateApproval()" *ngIf="!isView">{{approvalForm.value.gApprovalwfId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="back()">{{approvalForm.value.gApprovalwfId ? 'Back':'Cancel'}}</button>
                    </div>
                </nav>

                <form action="javascript:" class="needs-validation" novalidate [formGroup]="approvalForm">
                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Holding</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" disabled formControlName="gHoldingId" [ngClass]="{ 'is-invalid': submitted && f.gHoldingId.errors }">
                  <option *ngFor="let dl of holdingList" value="{{dl.gHoldingId}}">{{dl.name}}</option>
              </select>
                            <div *ngIf="submitted && f.gHoldingId.errors" class="invalid-feedback">
                                <div *ngIf="f.gHoldingId.errors.required">Holding is required</div>
                            </div>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Company</label></div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" formControlName="gCompanyId" [ngClass]="{ 'is-invalid': submitted && f.gCompanyId.errors }" (change)="selectedCompanyFun(approvalForm.value.gCompanyId)">
                <option *ngFor="let cl of companyList" value="{{cl.gCompanyId}}">{{cl.name}}</option>
            </select>
                            <div *ngIf="submitted && f.gCompanyId.errors" class="invalid-feedback">
                                <div *ngIf="f.gCompanyId.errors.required">Company is required</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Name</label></div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="name" class="form-control validation_border" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Module</label></div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" formControlName="moduleid">
                  <option *ngFor="let dl of moduleList" value="{{dl.moduleId}}">{{dl.moduleName}}</option>
              </select>
                        </div>

                        <!-- <div class="col-md-6 mb-3">
              <label for="validationCustom01">Module</label>
              <input type="text" formControlName="modulename" class="form-control validation_border" 
              [ngClass]="{ 'is-invalid': submitted && f.modulename.errors }">
              <div *ngIf="submitted && f.modulename.errors" class="invalid-feedback">
                <div *ngIf="f.modulename.errors.required">List Module is required</div>
              </div>
            </div> -->
                    </div>
                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Code</label></div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="code" class="form-control" readonly [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                            <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                                <div *ngIf="f.code.errors.required">Code is required</div>
                            </div>
                        </div>


                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Status</label></div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                    <option *ngFor="let dl of statusList" value="{{dl.valueCode}}">{{dl.valueName}}</option>
                </select>
                            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                <div *ngIf="f.status.errors.required">Status is required</div>
                            </div>
                        </div>

                    </div>

                    <!--  -->

                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Function</label></div>
                        <div class="col-md-4 mb-3">
                            <ng-multiselect-dropdown [placeholder]="" [data]="functionList" name="function" formControlName="function" [(ngModel)]="selectedFunctionList" [settings]="dropdownFunctionSettings" (onSelect)="onFunctionSelect($event)" (onDeSelect)="onFunctionDeSelect($event)"
                                (onSelectAll)="onSelectAllFunction($event)">
                            </ng-multiselect-dropdown>
                        </div>


                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Department</label></div>
                        <div class="col-md-4 mb-3">
                            <ng-multiselect-dropdown [placeholder]="" [data]="deptList" name="dept" formControlName="dept" [(ngModel)]="selectedDeptList" [settings]="dropdownDeptSettings" (onSelect)="onDeptSelect($event)" (onDeSelect)="onDeptDeSelect($event)" (onSelectAll)="onSelectAllDept($event)">
                            </ng-multiselect-dropdown>
                        </div>

                    </div>
                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Employee</label></div>
                        <div class="col-md-4 mb-3">
                            <ng-multiselect-dropdown [placeholder]="" [data]="empList" name="emp" formControlName="emp" [(ngModel)]="selectedEmpList" [settings]="dropdownEmpSettings" (onSelect)="onEmpSelect($event)" (onDeSelect)="onEmpDeSelect($event)" (onSelectAll)="onSelectAllEmp($event)">
                            </ng-multiselect-dropdown>
                        </div>

                    </div>

                    <!--  -->


                </form>
            </app-card>
        </div>

        <!-- -------------------------------- -->

        <div *ngIf="!isGeneralListValue && approvalForm.value.gApprovalwfId ">
            <app-card cardTitle="Approval Level Summary " [options]="false ">

                <nav _ngcontent-epm-c40=" " class="navbar m-b-30 p-10 " style="margin-top: -4%; ">
                    <ul _ngcontent-epm-c40=" " class="nav ">
                    </ul>
                    <div _ngcontent-epm-c40=" " class="nav-item nav-grid ">

                        <button _ngcontent-ssu-c28=" " class="btn btn-white btn-icon btn-outline-primary " type="button " (click)="addGeneralListValue();isGeneralListValue=true" *ngIf="!isView " data-toggle="tooltip " data-placement="top " title="Add ">
            <i class="fa fa-plus "></i>
            </button>&nbsp;&nbsp;
                        <button _ngcontent-ssu-c28=" " class="btn btn-white btn-icon btn-outline-primary " type="button " (click)="editGeneralListValue();isGeneralListValue=true" *ngIf="!isView " data-toggle="tooltip " data-placement="top " title="Edit ">
           <i class="fas fa-pencil-alt "></i>
           </button>&nbsp;&nbsp;
                    </div>
                </nav>

                <div class="table-responsive ">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Level No.</th>
                                <th>Username</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of approvalLevelList ">
                                <td>
                                    <div class="form-check ">
                                        <input class="form-check-input " type="radio" name="gridRadios " id="gridRadios1 " value="option1 " (click)="getDataUsingRedioBtn(l) ">
                                    </div>
                                </td>
                                <td>{{l.levelno}}</td>
                                <td>{{l.name}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </app-card>
        </div>
        <div *ngIf="isGeneralListValue">
            <app-card cardTitle="Add Approval Level " [options]="false">
                <nav _ngcontent-epm-c40=" " class="navbar m-b-30 p-10 " style="margin-top: -4%; ">
                    <ul _ngcontent-epm-c40=" " class="nav ">
                    </ul>
                    <div _ngcontent-epm-c40=" " class="nav-item nav-grid ">
                        <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="saveApprovalLevel()" *ngIf="!isView">{{approvalLevelForm.value.gApprovallevelId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="isGeneralListValue=false">{{isView ? 'Back':'Cancel'}}</button>
                    </div>
                </nav>
                <form action="javascript: " class="needs-validation " novalidate [formGroup]="approvalLevelForm">
                    <div class="form-row ">
                        <div class="col-md-2 mb-3 ">
                            <label for="validationCustom01 ">Level</label></div>
                        <div class="col-md-4 mb-3">
                            <input type="number" formControlName="levelno" class="form-control validation_border" disabled [ngClass]="{ 'is-invalid': submittedValue && f1.levelno.errors }" (change)="checkNumber(approvalLevelForm.value.levelno)">
                            <div *ngIf="submittedValue && f1.levelno.errors" class="invalid-feedback">
                                <div *ngIf="f1.levelno.errors.required">Level is required</div>
                            </div>
                        </div>

                        <div class="col-md-2 mb-3 ">
                            <label for="validationCustom01">User</label></div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" formControlName="userid" [ngClass]="{ 'is-invalid': submittedValue && f1.userid.errors }">
                  <option *ngFor="let dl of usersList" value="{{dl.userId}}">{{dl.userName}}</option>
              </select>
                            <div *ngIf="submittedValue && f1.userid.errors" class="invalid-feedback ">
                                <div *ngIf="f1.userid.errors.required">User is required</div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row ">
                        <div class="col-md-2 mb-3 ">
                            <label for="validationCustom01 ">Name</label></div>
                        <div class="col-md-4 mb-3">
                            <input type="text " formControlName="name" class="form-control validation_border " [ngClass]="{ 'is-invalid': submittedValue && f1.name.errors } ">
                            <div *ngIf="submittedValue && f1.name.errors " class="invalid-feedback ">
                                <div *ngIf="f1.name.errors.required ">Name is required</div>
                            </div>
                        </div>

                        <div class="col-md-2 mb-3 ">
                            <label for="validationCustom01 ">Description</label></div>
                        <div class="col-md-4 mb-3">
                            <input type="text " formControlName="description" class="form-control validation_border " [ngClass]="{ 'is-invalid': submittedValue && f1.description.errors } ">
                            <div *ngIf="submittedValue && f1.description.errors" class="invalid-feedback ">
                                <div *ngIf="f1.description.errors.required">Description is required</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row ">
                        <div class="col-md-2 mb-3 ">
                            <label for="validationCustom01 ">Status</label></div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="status">
                <option *ngFor="let dl of statusList" value="{{dl.valueCode}}">{{dl.valueName}}</option>
            </select>
                        </div>
                    </div>




                </form>

            </app-card>
        </div>

        <!-- ====================== -->

        <div *ngIf="!isApprovalEmail && approvalForm.value.gApprovalwfId ">
            <app-card cardTitle="Approval Email Review " [options]="false ">

                <nav _ngcontent-epm-c40=" " class="navbar m-b-30 p-10 " style="margin-top: -4%; ">
                    <ul _ngcontent-epm-c40=" " class="nav ">
                    </ul>
                    <div _ngcontent-epm-c40=" " class="nav-item nav-grid ">

                        <button _ngcontent-ssu-c28=" " class="btn btn-white btn-icon btn-outline-primary " type="button " (click)="addApprovalEmail();isApprovalEmail=true " *ngIf="!isView " data-toggle="tooltip " data-placement="top " title="Add ">
          <i class="fa fa-plus "></i>
          </button>&nbsp;&nbsp;
                        <button _ngcontent-ssu-c28=" " class="btn btn-white btn-icon btn-outline-primary " type="button " (click)="editApprovalEmail();isApprovalEmail=true " *ngIf="!isView " data-toggle="tooltip " data-placement="top " title="Edit ">
         <i class="fas fa-pencil-alt "></i>
         </button>&nbsp;&nbsp;
                    </div>
                </nav>

                <div class="table-responsive ">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User</th>
                                <th>Email</th>
                                <th>Recipient Type</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of approvalEmailList ">
                                <td>
                                    <div class="form-check ">
                                        <input class="form-check-input " type="radio" name="gridRadios2 " id="gridRadios2 " value="option2 " (click)="getApprovalEmailRadioBtn(l) ">
                                    </div>
                                </td>
                                <td>{{l.userName}}</td>
                                <td>{{l.email}}</td>
                                <td>{{l.recipientType}}</td>
                                <td>{{l.status}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </app-card>
        </div>
        <div *ngIf="isApprovalEmail ">
            <app-card cardTitle="Add Approval Email Review " [options]="false ">
                <nav _ngcontent-epm-c40=" " class="navbar m-b-30 p-10 " style="margin-top: -4%; ">
                    <ul _ngcontent-epm-c40=" " class="nav ">
                    </ul>
                    <div _ngcontent-epm-c40=" " class="nav-item nav-grid ">
                        <button type="button " class="btn btn-success " ngbTooltip="btn-success " (click)="addUpdateApprovalEmail() " *ngIf="!isView ">{{approvalEmailForm.value.xmailgrplineId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                        <button type="button " class="btn btn-danger " ngbTooltip="btn-danger " (click)="isApprovalEmail=false ">{{isView ? 'Back':'Cancel'}}</button>
                    </div>
                </nav>
                <form action="javascript: " class="needs-validation " novalidate [formGroup]="approvalEmailForm ">
                    <div class="form-row ">

                        <div class="col-md-2 mb-3 ">
                            <label for="validationCustom01 ">User</label></div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control " formControlName="userId " (change)="selectUser(approvalEmailForm.value.userId) ">
                              <option *ngFor="let dl of usersList " value="{{dl.userId}} ">{{dl.userName}}</option>
                          </select>
                            <!-- <div *ngIf="submittedValue && f1.userid.errors " class="invalid-feedback ">
                                <div *ngIf="f1.userid.errors.required ">User is required</div>
                            </div> -->
                        </div>

                        <div class="col-md-2 mb-3 ">
                            <label for="validationCustom01 ">Email</label></div>
                        <div class="col-md-4 mb-3">
                            <input formControlName="mailId " class="form-control " disabled>
                        </div>

                    </div>

                    <div class="form-row ">
                        <div class="col-md-2 mb-3 ">
                            <label for="validationCustom01 ">Status</label></div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control " formControlName="status ">
                <option *ngFor="let dl of statusList " value="{{dl.valueCode}} ">{{dl.valueName}}</option>
            </select>
                        </div>


                        <div class="col-md-2 mb-3 ">
                            <label for="validationCustom01 ">Recipient Type</label></div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control " formControlName="recipientType ">
              <option *ngFor="let dl of recipientTypeList " value="{{dl.id}} ">{{dl.name}}</option>
          </select>
                        </div>


                    </div>




                </form>

            </app-card>
        </div>

        <!-- ====================== -->
    </div>
</div>