<div class="row">
    <div class="col-sm-12">
        <div>
            <app-card cardTitle="{{airSectorForm.value.airsectorId ? 'Edit Air Sector':'Add Air Sector'}}" [options]="false">
                <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                    <ul _ngcontent-epm-c40="" class="nav">
                    </ul>
                    <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                        <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="addUpdateAirSector()" *ngIf="!isView">{{airSectorForm.value.airsectorId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="back()">{{isView ? 'Back':'Cancel'}}</button>
                    </div>
                </nav>
                <form action="javascript:" class="needs-validation" novalidate [formGroup]="airSectorForm">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Holding</label>
                            <select class="form-control validation_border" disabled formControlName="holdingId" [ngClass]="{ 'is-invalid': submitted && f.holdingId.errors }">
                                <option *ngFor="let dl of holdingList" value="{{dl.gHoldingId}}">{{dl.name}}</option>
                            </select>
                            <div *ngIf="submitted && f.holdingId.errors" class="invalid-feedback">
                                <div *ngIf="f.holdingId.errors.required">Holding is required</div>
                            </div>

                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Airport Name</label>
                            <input type="text" formControlName="name" class="form-control validation_border">
                            <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Air Sector is required</div>
                            </div> -->
                        </div>

                        <!-- <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Company</label>
                            <select class="form-control validation_border" formControlName="companyId"
                                [ngClass]="{ 'is-invalid': submitted && f.companyId.errors }">
                                <option *ngFor="let dl of companyList" value="{{dl.gCompanyId}}">{{dl.name}}</option>
                            </select>
                            <div *ngIf="submitted && f.companyId.errors" class="invalid-feedback">
                                <div *ngIf="f.companyId.errors.required">Company is required</div>
                            </div>

                        </div> -->


                    </div>
                    <div class="form-row">

                        <!-- <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Airport Name</label>
                            <input type="text" formControlName="name" class="form-control validation_border"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Air Sector is required</div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Airport Name</label>
                            <select class="form-control validation_border" formControlName="name">
                                <option *ngFor="let dl of nameList" value="{{dl.valueCode}}">{{dl.valueName}}
                                </option>
                            </select>
                        </div> -->

                        <!-- <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Department</label>
                            <select class="form-control" formControlName="departmentId">
                                <option *ngFor="let dl of deptList" value="{{dl.deptId}}">{{dl.name}}</option>
                            </select>
                        </div> -->
                        <!-- <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Airport Code</label>
                            <select class="form-control validation_border" formControlName="code">
                                <option *ngFor="let dl of codeList" value="{{dl.valueCode}}">{{dl.valueName}}
                                </option>
                            </select>
                        </div> -->
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Airport Code</label>
                            <input type="text" formControlName="code" class="form-control validation_border">
                            <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Air Sector is required</div>
                            </div> -->
                        </div>
                        <!-- <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Airport Code</label>
                            <input type="text" formControlName="code" class="form-control">
                        </div> -->

                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Country name</label>
                            <input type="text" formControlName="country" class="form-control validation_border">
                            <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Air Sector is required</div>
                            </div> -->
                        </div>

                    </div>

                    <div class="form-row">
                        <!-- <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Country name</label>
                            <select class="form-control validation_border" formControlName="countryname">
                                <option *ngFor="let dl of countryList" value="{{dl.valueCode}}">{{dl.valueName}}
                                </option>
                            </select>
                        </div> -->
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">City name</label>
                            <input type="text" formControlName="city" class="form-control validation_border">
                            <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Air Sector is required</div>
                            </div> -->
                        </div>
                        <!-- <div class="col-md-6 mb-3">
                            <label for="validationCustom01">City name</label>
                            <select class="form-control validation_border" formControlName="cityname">
                                <option *ngFor="let dl of cityList" value="{{dl.valueCode}}">{{dl.valueName}}
                                </option>
                            </select>
                        </div>   -->
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Description</label>
                            <input type="text" formControlName="description" class="form-control">

                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Ticket Amount</label>
                            <input type="number" formControlName="ticketAmount" class="form-control">

                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Status</label>
                            <select class="form-control validation_border" formControlName="status">
                                <option *ngFor="let dl of statusList" value="{{dl.valueCode}}">{{dl.valueName}}</option>
                            </select>
                        </div>

                    </div>


                </form>

            </app-card>
        </div>
    </div>
</div>