<div class="row">
    <div class="col-sm-12">
        <div>
            <app-card cardTitle="{{assettypeForm.value.assettypeId ? 'Edit Asset type':'Add Asset type'}}"
                [options]="false">
                <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                    <ul _ngcontent-epm-c40="" class="nav">
                    </ul>
                    <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                        <button type="button" class="btn btn-success" ngbTooltip="btn-success"
                            (click)="addUpdateAirSector()"
                            *ngIf="!isView">{{assettypeForm.value.assettypeId ? 'Update':'Add'}}</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" ngbTooltip="btn-danger"
                            (click)="back()">{{isView ? 'Back':'Cancel'}}</button>
                    </div>
                </nav>
                <form action="javascript:" class="needs-validation" novalidate [formGroup]="assettypeForm">
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Holding</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" disabled formControlName="holdingId"
                                [ngClass]="{ 'is-invalid': submitted && f.holdingId.errors }"
                               >
                                <option *ngFor="let dl of holdingList" value="{{dl.gHoldingId}}">{{dl.name}}</option>
                            </select>
                            <div *ngIf="submitted && f.holdingId.errors" class="invalid-feedback">
                                <div *ngIf="f.holdingId.errors.required">Holding is required</div>
                            </div>

                        </div>


                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Company</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" formControlName="companyId"
                                [ngClass]="{ 'is-invalid': submitted && f.companyId.errors }">
                                <option *ngFor="let dl of companyList" value="{{dl.gCompanyId}}">{{dl.name}}</option>
                            </select>
                            <div *ngIf="submitted && f.companyId.errors" class="invalid-feedback">
                                <div *ngIf="f.companyId.errors.required">Company is required</div>
                            </div>

                        </div>


                    </div>
                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Asset Group</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control validation_border" formControlName="x_asset_gruop_id">
                                <option *ngFor="let dl of assetgroupList" value="{{dl.x_ASSET_GROUP_ID}}">{{dl.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.x_asset_gruop_id.errors" class="invalid-feedback">
                                <div *ngIf="f.x_asset_gruop_id.errors.required">Asset Group is required</div>
                            </div>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Asset Type</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="name" class="form-control validation_border"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Asset Type is required</div>
                            </div>
                        </div>

                      


                    </div>
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Description</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="description" class="form-control">

                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Code</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="code" class="form-control" disabled>
                        </div>
                      

                    </div>

                   <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Status</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <select class="form-control validation_border" formControlName="status">
                            <option *ngFor="let dl of statusList" value="{{dl.valueCode}}">{{dl.valueName}}</option>
                        </select>
                    </div>
                   </div>


                </form>

            </app-card>
        </div>
    </div>
</div>