<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Employee Leave Summary" [options]="false">
            <!--  -->
            <!-- <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -5%;">
                <ul _ngcontent-epm-c40="" class="nav">
                </ul>
                <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                    <button type="button" class="btn btn-primary btn-sm" (click)="add()">Add</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary btn-sm" (click)="edit()">Edit</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary btn-sm" (click)="view()">View</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary btn-sm" (click)="delete()">Delete</button>
                </div>
            </nav> -->

            <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                <ul _ngcontent-epm-c40="" class="nav">
                </ul>
                <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                    <!-- <button type="button" class="btn btn-primary btn-sm" (click)="add()">Add</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary btn-sm" (click)="edit()">Edit</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary btn-sm" (click)="view()">View</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary btn-sm" (click)="delete()">Delete</button>&nbsp;&nbsp; -->

                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="add()" data-toggle="tooltip" data-placement="top" title="Add" *ngIf="flags.createFlag=='Y'"> 
                        <i class="fa fa-plus"></i>
                    </button>&nbsp;
                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="edit()" data-toggle="tooltip" data-placement="top" title="Edit" *ngIf="flags.editFlag=='Y'"> 
                        <i class="fas fa-pencil-alt"></i>
                    </button>&nbsp;
                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="view()" data-toggle="tooltip" data-placement="top" title="View" *ngIf="flags.readFlag=='Y'"> 
                        <i class="fa fa-eye"></i>
                    </button>&nbsp;
                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="delete()" data-toggle="tooltip" data-placement="top" title="Delete" *ngIf="flags.deleteFlag=='Y'"> 
                        <i class="fa fa-trash"></i>
                    </button>&nbsp;
                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="enableFilter = !enableFilter;" [ngClass]="{'filterClass': enableFilter}" data-toggle="tooltip" data-placement="top" title="Filter">
                        <i class="fa fa-filter"></i>
                        </button>&nbsp;

                    <div class="btn-group" role="group" ngbDropdown *ngIf="(flags.importFlag=='Y' && flags.exportFlag=='Y') || (flags.importFlag=='Y' && flags.exportFlag=='N') || (flags.importFlag=='N' && flags.exportFlag=='Y')">
                        <button type="button" class="btn btn-primary" ngbDropdownToggle>
                            More
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu style="right: 0;
                    left: auto;">

                            <a class="dropdown-item" href="javascript:" *ngIf="flags.importFlag=='Y'" (click)="fileUploadPopup.show();fileUploadForm.reset()">Upload Data</a>
                            <a class="dropdown-item" href="javascript:" *ngIf="flags.importFlag=='Y'" (click)="fileUploadPopupNew.show();fileUploadFormNew.reset()">Upload Data - New</a>
                            <a class="dropdown-item" href="javascript:" *ngIf="flags.exportFlag=='Y'" (click)="exporttoexcel()">Export Data</a>
                            <a class="dropdown-item" href="javascript:" (click)="exportLeaveFormat()">Download Excel
                                File Format</a>
                            <a class="dropdown-item" href="javascript:" (click)="exportLeaveFormatNew()">Download Excel File Format - New</a>

                        </div>
                    </div>
                </div>
            </nav>

            <!-- <div class="form-row" style="float: right;">
                <div class="col-md-12 mb-3">
                    <input [(ngModel)]="filterString" (ngModelChange)="onFilterChange()" class="form-control" placeholder="Search" />
                </div>
            </div> -->



            <!-- <div class="table-responsive tableFixHead">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Emp.ID</th>
                            <th>Emp.Code</th>
                            <th>Employee</th>
                            <th>Leave</th>
                            <th>Days</th>
                            <th>Start Date</th>
                            <th>End date</th>
                            <th>Leave Ref. No.</th>
                            <th colspan="2">View / Print</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dl of filtered" (click)="selectTableRow(dl)" [style.background-color]="dl.status=='N' ? '#FF8A8A' : null">
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" (click)="selectRadioBtn=true;getDataUsingRedioBtn(dl)">
                                </div>
                            </td>
                            <td>{{dl.oldEmpId}}</td>
                            <td>{{dl.empcode}}</td>
                            <td>{{dl.empname}}</td>
                            <td>{{dl.leaveitemname}}</td>
                            <td>{{dl.leavedays}}</td>
                            <td>{{dl.startdate | date: 'dd-MMM-yyyy'}}</td>
                            <td>{{dl.enddate | date: 'dd-MMM-yyyy'}}</td>
                            <td>{{dl.documentno}}</td>
                            <td>

                                <button class="btn btn-white btn-icon btn-outline-success btn-sm" type="button" (click)="selectRadioBtn=true;openLeaveForm(dl,'FORM')">Application</button>

                            </td>
                            <td colspan="1">
                                <button class="btn btn-white btn-icon btn-outline-danger btn-sm" type="button" (click)="selectRadioBtn=true;openLeaveForm(dl,'CAL')">Settlement</button>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div> -->

            <datatable1 [dataset]=data [enableFilter]="enableFilter" (searchEvent)="search($event)" (aTagEvent)="getRows($event)" [id]="'lEmpleaveId'" (getNavigate)="navigate($event)">
                <column1 [width1]=2 [value]="'lEmpleaveId'" [header]="''" [type]="'radio'" [sortVal]="'ASC'"></column1>
                <column1 [width1]=5 [value]="'oldEmpId'" [header]="'Emp.ID'" [sortVal]=""></column1>
                <column1 [width1]=8 [value]="'empcode'" [header]="'Emp.Code'" [sortVal]=""></column1>
                <column1 [width1]=10 [value]="'empname'" [header]="'Employee'" [type]="''" [sortVal]="''"></column1>
                <column1 [width1]=20 [value]="'leaveitemname'" [header]="'Leave'" [sortVal]=""></column1>
                <column1 [width1]=5 [value]="'leavedays'" [header]="'Days'" [sortVal]=""></column1>
                <column1 [width1]=10 [value]="'startdate'" [header]="'Start Date'" [sortVal]=""></column1>
                <column1 [width1]=10 [value]="'enddate'" [header]="'End Date'" [sortVal]=""></column1>
                <column1 [width1]=12 [value]="'documentno'" [header]="'Leave Ref. No.'" [sortVal]=""></column1>
                <column1 [width1]=8 [value]="'status'" [header]="'Status'" [sortVal]=""></column1>
                <column1 [width1]=12 [value]="''" [header]="'Application Form'" [sortVal]="" [type]="'button'" [buttonName]="'Application'"></column1>
                <column1 [width1]=12 [value]="''" [header]="'Settlement Form'" [sortVal]="" [type]="'button'" [buttonName]="'Settlement'"></column1>
            </datatable1>
            <!--  -->
        </app-card>
    </div>
</div>


<div class="col-xl-4 col-md-6">
    <app-ui-modal #fileUploadPopup dialogClass="modal-dialog-centered">
        <div class="app-modal-header">
            <h5 class="modal-title text-center">Employee Leave</h5>
        </div>
        <div class="app-modal-body">
            <form action="javascript:" class="needs-validation" [formGroup]="fileUploadForm">

                <div class="form-group">
                    <input type="file" autocomplete="off" formControlName="fileName" class="form-control" (change)="fileChange($event)" name="imagePath" id="file" placeholder="Upload File" style="border: none;">
                </div>

            </form>


        </div>
        <div class="app-modal-footer">

            <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="fileUploadFun($event,'EMPINFO');fileUploadPopup.hide()">Upload</button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" data-dismiss="modal" (click)="fileUploadPopup.hide()">Close</button>

        </div>
    </app-ui-modal>
</div>

<div class="col-xl-4 col-md-6">
    <app-ui-modal #fileUploadPopupNew dialogClass="modal-dialog-centered">
        <div class="app-modal-header">
            <h5 class="modal-title text-center">Employee Leave - New</h5>
        </div>
        <div class="app-modal-body">
            <form action="javascript:" class="needs-validation" [formGroup]="fileUploadFormNew">

                <div class="form-group">
                    <input type="file" autocomplete="off" formControlName="fileName" class="form-control" (change)="fileChangeNew($event)" name="imagePath" id="file" placeholder="Upload File" style="border: none;">
                </div>

            </form>


        </div>
        <div class="app-modal-footer">

            <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="fileUploadFunNew($event,'EMPINFO');fileUploadPopupNew.hide()">Upload</button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" data-dismiss="modal" (click)="fileUploadPopupNew.hide()">Close</button>

        </div>
    </app-ui-modal>
</div>