<div class="row">
    <div class="col-sm-12">
        <div>
            <app-card cardTitle="{{divisionForm.value.xdivId ? 'Edit Function':'Add Function'}}" [options]="false">
                <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                    <ul _ngcontent-epm-c40="" class="nav">
                    </ul>
                    <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                        <!-- <button  type="button"  (click)="addUpdateDivision()" class="btn btn-success" [disabled]="btnLoader" ngbTooltip="btn-success"
            data-toggle="tooltip" data-placement="top"
            title="Filter" *ngIf="!isView">
            {{divisionForm.value.xdivId ? 'Update':'Add'}}
              <span *ngIf="btnLoader" class="spinner-border spinner-border-sm" role="status"></span>
            
            </button>&nbsp;&nbsp;&nbsp; -->
                        <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="addUpdateDivision()" *ngIf="!isView">{{divisionForm.value.xdivId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="back()">{{isView ? 'Back':'Cancel'}}</button>
                    </div>
                </nav>



                <form action="javascript:" class="needs-validation" novalidate [formGroup]="divisionForm">
                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Holding</label>
                        </div>
                            <div class="col-md-4 mb-3"  >
                            <select class="form-control validation_border"  disabled formControlName="gHoldingId" (change)="selectHolding(divisionForm.value.holdingId)" [ngClass]="{ 'is-invalid': submitted && f.gHoldingId.errors }">
                  <option *ngFor="let dl of holdingList" value="{{dl.gHoldingId}}">{{dl.name}}</option>
              </select>
                            <div *ngIf="submitted && f.gHoldingId.errors" class="invalid-feedback">
                                <div *ngIf="f.gHoldingId.errors.required">Holding is required</div>
                            </div>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Company</label>
                        </div>
                            <!-- <select class="form-control validation_border" formControlName="gCompanyId" 
              [ngClass]="{ 'is-invalid': submitted && f.companyId.errors }">
                <option *ngFor="let cl of companyList" value="{{cl.gCompanyId}}">{{cl.name}}</option>
            </select> -->
            <div class="col-md-4 mb-3">
                            <ng-multiselect-dropdown [placeholder]="" [data]="companyList" name="company" formControlName="company" [(ngModel)]="selectedCompanyList" [settings]="dropdownSettings" (onSelect)="onCompnaySelect($event)" (onDeSelect)="onCompanyDeSelect($event)" (onSelectAll)="onSelectAllCompnay($event)"
                                [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
                            </ng-multiselect-dropdown>
                            <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                                <div *ngIf="f.company.errors.required">Company is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Function </label>
                        </div>
                        <div class="col-md-4 mb-3"  >
                            <input type="text" formControlName="name" class="form-control validation_border" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Division is required</div>
                            </div>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Description</label>
                        </div>
                        <div class="col-md-4 mb-3"  >
                            <input type="text" formControlName="description" class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Code</label>
                        </div>
                        <div class="col-md-4 mb-3"  >
                            <input type="text" formControlName="code" class="form-control">
                        </div>
                        <div class="col-md-2 mb-3">

                            <label for="validationCustom01">Status</label>
                        </div>
                        <div class="col-md-4 mb-3"  >
                            <select class="form-control validation_border" formControlName="status">
                  <option *ngFor="let dl of statusList" value="{{dl.valueCode}}">{{dl.valueName}}</option>
              </select>
                        </div>
                    </div>

                </form>


            </app-card>

        </div>
    </div>
</div>