<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Shift Rule Summary" [options]="false">

            <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                <ul _ngcontent-epm-c40="" class="nav">
                </ul>
                <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="add()" data-toggle="tooltip" data-placement="top" *ngIf="flags.createFlag=='Y'" title="Add">
                <i class="fa fa-plus"></i>
                </button>&nbsp;
                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="edit()" data-toggle="tooltip" data-placement="top" *ngIf="flags.editFlag=='Y'" title="Edit">
               <i class="fas fa-pencil-alt"></i>
               </button>&nbsp;
                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="view()" data-toggle="tooltip" data-placement="top" *ngIf="flags.readFlag=='Y'" title="View">
              <i class="fa fa-eye"></i>
              </button>&nbsp;
                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="delete()" data-toggle="tooltip" data-placement="top" *ngIf="flags.deleteFlag=='Y'" title="Delete">
             <i class="fa fa-trash"></i>
             </button>&nbsp;
                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="enableFilter = !enableFilter;" [ngClass]="{'filterClass': enableFilter}" data-toggle="tooltip" data-placement="top" title="Filter">
                <i class="fa fa-filter"></i>
                </button>&nbsp;
                    <div class="btn-group" role="group" ngbDropdown *ngIf="(flags.importFlag=='Y' && flags.exportFlag=='Y') || (flags.importFlag=='Y' && flags.exportFlag=='N') || (flags.importFlag=='N' && flags.exportFlag=='Y')">
                        <button type="button" class="btn btn-primary" ngbDropdownToggle>
                      More
                    </button>
                        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu style="right: 0;
                    left: auto;">

                            <a class="dropdown-item" href="javascript:" *ngIf="flags.exportFlag=='Y'" (click)="exporttoexcel()">Export Data</a>


                        </div>
                    </div>
                </div>
            </nav>

            <datatable1 [dataset]=data [enableFilter]="enableFilter" (searchEvent)="search($event)" (aTagEvent)="getRows($event)" [id]="'shiftRuleId'">
                <column1 [width1]=2 [value]="'shiftRuleId'" [header]="''" [type]="'radio'" [sortVal]="'ASC'"></column1>
                <column1 [width1]=10 [value]="'code'" [header]="'Shift Code'" [sortVal]=""></column1>
                <column1 [width1]=38 [value]="'name'" [header]="'Shift Name'" [type]="''" [sortVal]="''"></column1>
                <column1 [width1]=30 [value]="'startTime'" [header]="'Start time'" [sortVal]=""></column1>
                <column1 [width1]=2 [value]="'breakStart'" [header]="'Break Start'" [type]="''" [sortVal]="''"></column1>
                <column1 [width1]=10 [value]="'breakEnd'" [header]="'Break End'" [sortVal]=""></column1>
                <column1 [width1]=38 [value]="'endTime'" [header]="'End time'" [type]="''" [sortVal]="''"></column1>
                <column1 [width1]=30 [value]="'totalworkinghrs'" [header]="'Total Working Hrs'" [sortVal]=""></column1>
                <column1 [width1]=38 [value]="'totalworkinghrsperweek'" [header]="'Total Working Hrs Per Week'" [type]="''" [sortVal]="''"></column1>
                <column1 [width1]=30 [value]="'totalworkinghrspermonth'" [header]="'Total Working Hrs Per Month'" [sortVal]=""></column1>
            </datatable1>

        </app-card>
    </div>
</div>