<div class="row">

    <div class="col-sm-12">

        <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
            <ul _ngcontent-epm-c40="" class="nav">
            </ul>
            <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                <button type="button" class="btn btn-success" ngbTooltip="btn-success" *ngIf="isview=='N'" (click)="addUpdatePInfo()">{{personalinfoId ? 'Update':'Save'}}</button> &nbsp;&nbsp;&nbsp;

                <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" data-toggle="tooltip" data-placement="top" (click)="nextFun($event)" title="Next">
            <i class="fa fa-arrow-right"></i>
          </button>
            </div>
        </nav>



        <form action="javascript:" class="needs-validation" novalidate [formGroup]="personalinfoForm">
            <app-card cardTitle="Personal Information" [options]="false">
                <div class="form-row">

                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Employee</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="empName" disabled class="form-control">

                    </div>

                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Date of Birth </label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group">
                            <input class="form-control" placeholder="Select a date" type="text" angular-mydatepicker name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="dateofbirth1" disabled #dp1="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeDateofbirth($event)"
                                (click)="dp1.toggleCalendar()" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="dp1.toggleCalendar()" disabled>
                 <i class="fa fa-search" aria-hidden="true"></i>
               </button>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Age</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="empage" class="form-control" disabled>
                    </div>

                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Marital Status</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <select class="form-control validation_border" formControlName="lmaritalstatus">
                    <option *ngFor="let dl of maritalstatusList" value="{{dl.value}}">{{dl.name}}
                    </option>
                </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Nationality</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <select class="form-control validation_border" formControlName="lnationality">
            <option *ngFor="let dl of countryList" value="{{dl.value}}">{{dl.name}}
            </option>
        </select>
                    </div>

                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Religion</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <select class="form-control validation_border" formControlName="xReligionId">
            <option *ngFor="let dl of religionList" value="{{dl.religionId}}">{{dl.name}}
            </option>
        </select>
                    </div>

                </div>
            </app-card>
            <app-card cardTitle="Family Information" [options]="false">

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Father's Name</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="fathername" class="form-control">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Mother's Name</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="mothername" class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Spouse Name</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="spousename" class="form-control">
                    </div>


                </div>
            </app-card>
            <app-card cardTitle="Contact Information" [options]="false">

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Home country Tel. No.</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="homecontele" class="form-control">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Home Country Address </label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="homeconaddr" class="form-control">
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Local Home Tel. No.</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="localtele" class="form-control">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Local Address</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="localaddr" class="form-control">
                    </div>

                </div>
            </app-card>
            <app-card cardTitle="Relative Information" [options]="false">

                <div *ngIf="RelatioshipEnum.RELATIONSHIP_WITH_EMP==0">


                    <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;" *ngIf="isview=='N'">
                        <ul _ngcontent-epm-c40="" class="nav">
                        </ul>
                        <div _ngcontent-epm-c40="" class="nav-item nav-grid">

                            <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="addRelationshipwithemployee()" data-toggle="tooltip" data-placement="top" title="Add">
            <i class="fa fa-plus"></i>
            </button>&nbsp;
                            <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="editRelationshipwithemployee()" data-toggle="tooltip" data-placement="top" title="Edit">
           <i class="fas fa-pencil-alt"></i>
           </button>&nbsp;
                        </div>
                    </nav>
                    <div>
                        <div class="table-responsive">

                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Relative Name</th>
                                        <th>Relative Telephone No.</th>
                                        <th>Relative Address</th>
                                        <th>Relationship with employee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dl of relationshipWithEmpList">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios2" value="option2" (click)="getRelationshipDataUsingId(dl)">
                                            </div>
                                        </td>
                                        <td>{{dl.relativeName}}</td>
                                        <td>{{dl.phoneNo}}</td>
                                        <td>{{dl.address}}</td>
                                        <td>{{dl.relation}}</td>
                                    </tr>
                                    <tr>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div *ngIf="RelatioshipEnum.RELATIONSHIP_WITH_EMP==1">

                    <app-card cardTitle="{{relationWithEmpForm.value.lEmprelativeId ? 'Edit Relationsahip with employee':'Add Relationsahip with employee'}}" [options]="false">


                        <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                            <ul _ngcontent-epm-c40="" class="nav">
                            </ul>
                            <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                                <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="saveRelationshipWithEmp()">{{relationWithEmpForm.value.lEmprelativeId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="RelatioshipEnum.RELATIONSHIP_WITH_EMP=0;relationWithEmpForm.value.lEmprelativeId=undefined;">Back</button>
                            </div>
                        </nav>
                        <form action="javascript:" class="needs-validation" novalidate [formGroup]="relationWithEmpForm">


                            <div class="form-row">
                                <div class="col-md-2 mb-3">
                                    <label for="validationCustom01">Relative Name</label></div>
                                <div class="col-md-4 mb-3">
                                    <input type="text" formControlName="relativeName" class="form-control">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="validationCustom01">Relative Telephone No.</label></div>
                                <div class="col-md-4 mb-3">
                                    <input type="text" formControlName="phoneNo" class="form-control">
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="col-md-2 mb-3">
                                    <label for="validationCustom01">Relative Address</label></div>
                                <div class="col-md-4 mb-3">
                                    <input type="text" formControlName="address" class="form-control">
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="validationCustom01">Relationship with employee</label></div>
                                <div class="col-md-4 mb-3">
                                    <input type="text" formControlName="relation" class="form-control">
                                </div>
                            </div>
                        </form>
                    </app-card>
                </div>
            </app-card>
            <app-card cardTitle="Friend Information" [options]="false">

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Friend Name</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="friendname" class="form-control">
                    </div>

                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Friend Telephone No.</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="friendtele" class="form-control">
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Friend Address</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="friendaddr" class="form-control">
                    </div>


                </div>
            </app-card>
            <app-card cardTitle="Emergency Contact Information" [options]="false">

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Emergency Contact Local No.</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="emrglocaltele" class="form-control">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Emergency Contact No. in Home Country</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="emrgconthometele" class="form-control">
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Emergency Contact Name</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" formControlName="emrgcontactName" class="form-control">
                    </div>
                </div>

            </app-card>
            <!-- <app-card cardTitle="Life Insurance Information"  [options]="false">     

  <div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="validationCustom01">Life Insurance Beneficiary's Name</label>
        <input type="text" formControlName="licbenename" class="form-control">
    </div>
    <div class="col-md-6 mb-3">
        <label for="validationCustom01">Life Insurance Beneficiary's Contact No.</label>
        <input type="text" formControlName="licbenetele" class="form-control">
    </div>
   
  </div>
  <div class="form-row">
  <div class="col-md-6 mb-3">
    <label for="validationCustom01">Status</label>
    <select class="form-control" formControlName="status">
      <option *ngFor="let dl of statusList" value="{{dl.valueCode}}">{{dl.valueName}}</option>
    </select>
  </div> 
</div>
</app-card> -->

            <app-card cardTitle="Social Networking Information" [options]="false">

                <div *ngIf="!isOpenChat">
                    <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;" *ngIf="isview=='N'">
                        <ul _ngcontent-epm-c40="" class="nav">
                        </ul>
                        <div _ngcontent-epm-c40="" class="nav-item nav-grid">

                            <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="addChat()" data-toggle="tooltip" data-placement="top" title="Add">
            <i class="fa fa-plus"></i>
            </button>&nbsp;
                            <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="editChat()" data-toggle="tooltip" data-placement="top" title="Edit">
           <i class="fas fa-pencil-alt"></i>
           </button>&nbsp;
                        </div>
                    </nav>

                    <div class="table-responsive">

                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Site Name</th>
                                    <th>Site ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dl of empchatlist">
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" (click)="getDataUsingRedioBtn1(dl)">
                                        </div>
                                    </td>
                                    <td>{{dl.sitename}}</td>
                                    <td>{{dl.empchatID}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="isOpenChat">
                    <app-card cardTitle="{{false ? 'Edit Chat':'Add Chat'}}" [options]="false">


                        <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                            <ul _ngcontent-epm-c40="" class="nav">
                            </ul>
                            <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                                <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="addUpdateChat()">{{relationId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="isOpenChat=false;relationId=undefined;">{{false ? 'Back':'Cancel'}}</button>
                            </div>
                        </nav>

                        <form action="javascript:" class="needs-validation" novalidate [formGroup]="chatform">

                            <div class="form-row">

                                <div class="col-md-2 mb-3">
                                    <label for="validationCustom01">Site Name</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <select class="form-control validation_border" formControlName="lsempchatnameId">
                <option></option>
                <option *ngFor="let dl of netwokingList" value="{{dl.lListitemId}}">{{dl.name}}</option>
            </select>
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="validationCustom01">Site ID</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <input type="text" formControlName="empchatID" class="form-control">
                                </div>


                            </div>

                        </form>

                    </app-card>
                </div>


            </app-card>




        </form>


        <!-- ////////////////////////////////////////////////////////// -->
        <!-- </app-card> -->
    </div>
</div>