<div class="row">

    <div class="col-sm-12">
        <app-card cardTitle="{{false ? 'Edit Benefits':'Add Benefits'}}" [options]="false">


            <!-- <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
        <ul _ngcontent-epm-c40="" class="nav">
        </ul>
        <div _ngcontent-epm-c40="" class="nav-item nav-grid">
          <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="addUpdateBenifitsData()">{{benefitsForm.value.lEmpbenefitsId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
        </div>
    </nav> -->
            <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                <ul _ngcontent-epm-c40="" class="nav">
                </ul>
                <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                    <button type="button" class="btn btn-success" ngbTooltip="btn-success" *ngIf="isview=='N'" (click)="addUpdateBenifitsData()">{{benefitsId ? 'Update':'Save'}}</button> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;

                    <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" data-toggle="tooltip" data-placement="top" (click)="nextFun($event)" title="Next">
          <i class="fa fa-arrow-right"></i>
        </button>
                </div>
            </nav>

            <form action="javascript:" class="needs-validation" novalidate [formGroup]="benefitsForm">

                <app-card cardTitle="Annual Leave" [options]="false">
                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Employee</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="value" disabled class="form-control">

                        </div>


                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Annual Leave Entitlement Type</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="xEmpleaveId">
              <option *ngFor="let dl of aleaveentitelmenttypeList" value="{{dl.value}}">{{dl.name}}
              </option>
          </select>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Annual Leave Entitlement Days</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="lentldays">
          <option *ngFor="let dl of aleaveentitelmentdaysList" value="{{dl.value}}">{{dl.name}}
          </option>
      </select>
                        </div>
                        <!-- <div class="col-md-6 mb-3">
      <label for="validationCustom01">Annual Leave Balance Days</label>
      <input type="text" formControlName="annualbaldays" class="form-control">
  </div> -->
                    </div>

                </app-card>
                <app-card cardTitle="Vehicle" [options]="false">
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Vehicle</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="hasvehicle">
          <option *ngFor="let dl of vehiclesList" value="{{dl.value}}">{{dl.name}}
          </option>
      </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Vehicle Brand </label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="vehibrand" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Vehicle Model</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="vehimodel" class="form-control">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Value of The Vehicle</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="vehivalue" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Vehicle Monthly Fuel Cost Limit</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" formControlName="fuelcostlimit" class="form-control">
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Vehicle Monthly Actual Fuel Expenses</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="fuelactualcost">
          <option *ngFor="let dl of fuelactualcostList" value="{{dl.value}}">{{dl.name}}
          </option>
      </select>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Vehicle Monthly Maintenance Average Expenses</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="mntsavgexps">
          <option *ngFor="let dl of vMMaitainanceAygExpList" value="{{dl.value}}">{{dl.name}}
          </option>
      </select>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Vehicle Monthly Average Salik Expenses</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="saltkavgexps">
          <option *ngFor="let dl of vMAvgSalikExpensesList" value="{{dl.value}}">{{dl.name}}
          </option>
      </select>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Vehicle Monthly Aveage Parking Expenses</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="parkavgexps">
          <option *ngFor="let dl of vMAvgParkingExpList" value="{{dl.value}}">{{dl.name}}
          </option>
      </select>
                        </div>

                        <!-- <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Family Benefits Entitlement</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="famibeneentl">
          <option *ngFor="let dl of familybenefitentitList" value="{{dl.value}}">{{dl.name}}
          </option>
      </select>
                        </div> -->
                    </div>
                </app-card>
                <app-card cardTitle="Air Ticket" [options]="false">

                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Airport</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="fromAirsectorId">
        <option *ngFor="let dl of fromAirportList" value="{{dl.lListitemId}}">{{dl.name}}
        </option>
    </select>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Airport (Point of Hire) </label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="toAirsectorId">
        <option *ngFor="let dl of toList" value="{{dl.airsectorId}}">{{dl.name}}
        </option>
    </select>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Air Ticket Entitlement </label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="airtikentId">
        <option *ngFor="let dl of airTktEntitlementList"  value="{{dl.value}}">{{dl.name}}
        </option>
    </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Air Ticket Class</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="airtktclsId">
        <option *ngFor="let dl of airTktClassList"  value="{{dl.value}}">{{dl.name}}
        </option>
    </select>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-md-2 mb-3">
                            <label for="validationCustom01">Air Ticket Eligibility </label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control" formControlName="airtktelgId">
        <option *ngFor="let dl of airtktEligibiltyList" value="{{dl.value}}">{{dl.name}}
        </option>
    </select>
                        </div>


                    </div>
                </app-card>

                <app-card cardTitle="Family" [options]="false">

                    <div *ngIf="!isOpenRelation">
                        <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                            <ul _ngcontent-epm-c40="" class="nav">
                            </ul>
                            <div _ngcontent-epm-c40="" class="nav-item nav-grid" *ngIf="isview=='N'">

                                <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="addFamily()" data-toggle="tooltip" data-placement="top" title="Add">
    <i class="fa fa-plus"></i>
    </button>&nbsp;
                                <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="editFamily()" data-toggle="tooltip" data-placement="top" title="Edit">
   <i class="fas fa-pencil-alt"></i>
   </button>&nbsp;
                            </div>
                        </nav>

                        <div class="table-responsive">

                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Relation</th>
                                        <th> Date of Birth</th>
                                        <th>Eligible for Medical</th>
                                        <th>Eligible for Visa</th>
                                        <th>Eligible for Air ticket</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dl of empFamilyList">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" (click)="getDataUsingRedioBtn1(dl)">
                                            </div>
                                        </td>
                                        <td>{{dl.nameofFamily}}</td>
                                        <td>{{dl.relation}}</td>
                                        <td>{{dl.dob| date: 'dd-MMM-yyyy'}}</td>
                                        <td>{{dl.medical}}</td>
                                        <td>{{dl.visa}}</td>
                                        <td>{{dl.airticket}}</td>
                                    </tr>
                                    <!-- <tr *ngIf="empFamilyList?.length<1">
      <td>No Record</td>
    <tr> -->


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngIf="isOpenRelation">
                        <app-card cardTitle="{{false ? 'Edit Relation':'Add Relation'}}" [options]="false">


                            <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                                <ul _ngcontent-epm-c40="" class="nav">
                                </ul>
                                <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                                    <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="addUpdateRelation()">{{relationId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="isOpenRelation=false;relationId=undefined;">{{false ? 'Back':'Cancel'}}</button>
                                </div>
                            </nav>

                            <form action="javascript:" class="needs-validation" novalidate [formGroup]="relationform">

                                <div class="form-row">

                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom01">Name</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <input type="text" formControlName="nameofFamily" class="form-control">
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom01">Relation</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <select class="form-control " formControlName="lsEmprelationId">
        <option></option>
        <option *ngFor="let dl of relationList" value="{{dl.lListitemId}}">{{dl.name}}</option>
      </select>
                                    </div>
                                </div>

                                <div class="form-row">

                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom02">Date of Birth</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Select a date" type="text" angular-mydatepicker name="reactiveFormsDate" [options]="myDatePickerOptions" formControlName="dob1" #dp1="angular-mydatepicker" autocomplete="off" (ngModelChange)="changeDOB($event)"
                                                (click)="dp1.toggleCalendar()" />
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-secondary" (click)="dp1.toggleCalendar()">
           <i class="fa fa-search" aria-hidden="true"></i>
         </button>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom01">Eligible For Medical </label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <select class="form-control " formControlName="lselgbmedi">
      <option></option>
      <option *ngFor="let dl of yesNoList" value="{{dl.lListitemId}}">{{dl.name}}</option>
    </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom01">Eligible For Visa</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <select class="form-control " formControlName="lselgbvisa">
      <option></option>
      <option *ngFor="let dl of yesNoList" value="{{dl.lListitemId}}">{{dl.name}}</option>
    </select>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom01">Eligible For Air Ticket</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <select class="form-control " formControlName="lselgbairtk">
      <option></option>
      <option *ngFor="let dl of yesNoList" value="{{dl.lListitemId}}">{{dl.name}}</option>
    </select>
                                    </div>

                                </div>

                            </form>

                        </app-card>
                    </div>
                </app-card>



                <app-card cardTitle="Life Insurance Information" [options]="false">




                    <div *ngIf="LifeInsuranceEnum.LIFE_INSURNACE!=1">
                        <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                            <ul _ngcontent-epm-c40="" class="nav">
                            </ul>
                            <div _ngcontent-epm-c40="" class="nav-item nav-grid" *ngIf="isview=='N'">

                                <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="addLifeInsuranceInfo()" data-toggle="tooltip" data-placement="top" title="Add">
                                <i class="fa fa-plus"></i>
                                </button>&nbsp;
                                <button _ngcontent-ssu-c28="" class="btn btn-white btn-icon btn-outline-primary" type="button" (click)="editLifeInsuranceInfo()" data-toggle="tooltip" data-placement="top" title="Edit">
       <i class="fas fa-pencil-alt"></i>
       </button>&nbsp;
                            </div>
                        </nav>

                        <div class="table-responsive">

                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Beneficiary Name</th>
                                        <th>Beneficiary Contact No.</th>
                                        <th> Beneficiary Relations</th>
                                        <th>Beneficiary Address</th>
                                        <th>Beneficiary Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dl of lifeInsuranceInfoList">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios2" value="option1" (click)="getLICDataUsingId(dl)">
                                            </div>
                                        </td>
                                        <td>{{dl.bName}}</td>
                                        <td>{{dl.bphoneNo}}</td>
                                        <td>{{dl.brelation}}</td>
                                        <td>{{dl.baddress}}</td>
                                        <td>{{dl.bpercentage}}</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngIf="LifeInsuranceEnum.LIFE_INSURNACE==1">
                        <app-card cardTitle="{{false ? 'Edit Life Insurance Information':'Add Life Insurance Information'}}" [options]="false">


                            <nav _ngcontent-epm-c40="" class="navbar m-b-30 p-10" style="margin-top: -4%;">
                                <ul _ngcontent-epm-c40="" class="nav">
                                </ul>
                                <div _ngcontent-epm-c40="" class="nav-item nav-grid">
                                    <button type="button" class="btn btn-success" ngbTooltip="btn-success" (click)="addUpdateLIC()">{{insuranceform.value.lEmpinsuranceId ? 'Update':'Add'}}</button> &nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-danger" ngbTooltip="btn-danger" (click)="LifeInsuranceEnum.LIFE_INSURNACE=0;insuranceform.value.lEmpinsuranceId=undefined;">{{false ? 'Back':'Cancel'}}</button>
                                </div>
                            </nav>

                            <form action="javascript:" class="needs-validation" novalidate [formGroup]="insuranceform">

                                <div class="form-row">
                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom01">Life Insurance Beneficiary Name</label></div>
                                    <div class="col-md-4 mb-3">
                                        <input type="text" formControlName="bName" class="form-control">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom01">Life Insurance Beneficiary Contact No.</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <input type="text" formControlName="bphoneNo" class="form-control">
                                    </div>



                                </div>

                                <div class="form-row">
                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom01">Life Insurance Beneficiary Relations</label>
                                    </div>
                                    <div class="col-md-4 mb-3"><input type="text" formControlName="brelation" class="form-control">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom01">Life Insurance Beneficiary Address</label>
                                    </div>
                                    <div class="col-md-4 mb-3"><input type="text" formControlName="baddress" class="form-control">
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-2 mb-3">
                                        <label for="validationCustom01">Life Insurance Beneficiary Percentage </label>
                                    </div>
                                    <div class="col-md-4 mb-3"><input type="number" formControlName="bpercentage" class="form-control">
                                    </div>
                                </div>


                            </form>

                        </app-card>
                    </div>

                </app-card>




            </form>


            <!-- ////////////////////////////////////////////////////////// -->
        </app-card>
    </div>
</div>